<h1>Day one</h1>
<div>
  <img src="/images/special-delivery-1.jpg" />
  <div>
    <p>4500+ lbs, 300 bucks to rent the truck and car hauler</p>
  </div>
</div>
<div>
  <img src="/images/special-delivery-2.jpg" />
  <div>
    <p>10% brakes</p>
  </div>
</div>
