<ul>
  <li>
    <%= link_to 'Day one', '/timeline/day-one.html' %>
  </li>
  <li>
    Brake work
  </li>

  <li>
    Instrument cluster upgrade
  </li>

  <li>
    In the shop: CVs, UCA bushings
  </li>

  <li>
    Road trip! Blanco, TX
  </li>

  <li>
    Starter replacement
  </li>
</ul>
